#loginDiv{
    width: 50%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#loginDiv input,#loginDiv button{
    font-size: xx-large;
}
@media screen  and (max-width:800px){
    div{
        width: 90%;
    }
    
}