nav {
    display: flex;
    flex-direction: row;
    width: 100dvw;
    background-color: aquamarine;
    padding: 10px;
    margin: 0px;
    gap: 10px;
    box-sizing: border-box;
    position: sticky;
    top: 0px;

}

nav button {
    border: 0.2px soild black;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
    }
}

nav button.active {
    background-color: aquamarine;
}

#tab {}